@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: #0B0B0B;
}

/* إخفاء نافذة التحذيرات من شاشة المتصفح */
iframe#webpack-dev-server-client-overlay,
body > iframe {
  display: none !important;
}